In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("animes.csv")

In [21]:
columnas = {
    "score":"Puntaje",
    "ranked":"Rango",
    'uid':"Id",
    'title':"Titulo",
    'synopsis':"Sinopsis",
    'genre':"Genero",
    'aired':"Transmitido",
    'episodes':"Episodios",
    'members':"Miembros",
    'popularity':"Popularidad"
}
df.rename(columns=columnas, inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19311 entries, 0 to 19310
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           19311 non-null  int64
 1   Titulo       19311 non-null  object
 2   Sinopsis     18336 non-null  object
 3   Genero       19311 non-null  object
 4   Transmitido  19311 non-null  object
 5   Episodios    18605 non-null  float64
 6   Miembros     19311 non-null  int64
 7   Popularidad  19311 non-null  int64
 8   Rango        16099 non-null  float64
 9   Puntaje      18732 non-null  float64
 10  img_url      19131 non-null  object
 11  link         19311 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 1.8+ MB

In [5]:
df.drop(columns=["img_url","link"], inplace=True)

In [26]:
df["img_url"][0]

'https://cdn.myanimelist.net/images/anime/9/76662.jpg'

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
def convertir_con_comillas(cadena):
    elementos = cadena.replace("'", "").strip("[]").split(",")
    return elementos

df['aux_gen'] = df['Genero'].apply(convertir_con_comillas)
df['Primer_genero'] =df['aux_gen'].apply(lambda x: x[0])

In [9]:
df.drop(columns=["Genero"], inplace=True)

In [10]:
df["Transmitido"] = df["Transmitido"].apply(lambda x: x.replace("to",",").split(','))
#df["inicio_emision"] = df["aired"].apply(lambda x: x[])

In [11]:
df.head()

,Id,Titulo,Sinopsis,Transmitido,Episodios,Miembros,Popularidad,Rango,Puntaje,aux_gen,Primer_genero
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"[Oct 4, 2015 , Mar 27, 2016]",25.0,489888,141,25.0,8.82,"[Comedy, Sports, Drama, School, Shounen]",Comedy
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"[Oct 10, 2014 , Mar 20, 2015]",22.0,995473,28,24.0,8.83,"[Drama, Music, Romance, School, Shounen]",Drama
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"[Jul 7, 2017 , Sep 29, 2017]",13.0,581663,98,23.0,8.83,"[Sci-Fi, Adventure, Mystery, Drama, Fantasy]",Sci-Fi
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","[Apr 5, 2009 , Jul 4, 2010]",64.0,1615084,4,1.0,9.23,"[Action, Military, Adventure, Comedy, Dram...",Action
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"[Jan 6, 2017]",1.0,214621,502,22.0,8.83,"[Action, Mystery, Supernatural, Vampire]",Action

In [12]:
df[["Titulo","Puntaje"]].sort_values(by="Puntaje", ascending = False, ignore_index=True).head(10)

                                      Titulo  Puntaje
0           Fullmetal Alchemist: Brotherhood     9.23
1                                Steins;Gate     9.11
2                     Hunter x Hunter (2011)     9.11
3                             Kimi no Na wa.     9.09
4  Quiz de Manabu Pinocchio no Koutsuu Ansen     9.08
5         Shingeki no Kyojin Season 3 Part 2     9.07
6                                   Gintama°     9.05
7                                   Gintama'     9.04
8                       Ginga Eiyuu Densetsu     9.03
9                 3-gatsu no Lion 2nd Season     9.02

In [13]:
def top10porGenero(genero,dataf):
    df_f = dataf[dataf["Primer_genero"] == genero]
    display(df_f[["Titulo","Puntaje"]].sort_values(by="Puntaje", ascending = False, ignore_index=True).head(10))

In [14]:
top10porGenero("Romance",df)

                                              Titulo  Puntaje
0                                     Kimi no Na wa.     9.09
1                                     Bakemonogatari     8.35
2                               ReLIFE: Kanketsu-hen     8.29
3                                     Tsuki ga Kirei     8.27
4  Rurouni Kenshin: Meiji Kenkaku Romantan - Seis...     8.05
5                                Yagate Kimi ni Naru     8.01
6                  Sekaiichi Hatsukoi: Valentine-hen     8.01
7                                         Baby Steps     7.91
8                        Karakai Jouzu no Takagi-san     7.88
9                                Asagao to Kase-san.     7.86

In [15]:
df["ranked"].nunique()

KeyError: 'ranked'

In [ ]:
df[["Titulo","Puntaje"]].sort_values(by="Puntaje", ascending = False, ignore_index=True).head(10)

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df["score"].nunique()

In [ ]:
df.sort_values?

In [ ]:
df["Titulo"].duplicated().sum()

In [ ]:
len(df["Titulo"])

In [18]:
print(df["Primer_genero"].unique())

['Comedy' 'Drama' 'Sci-Fi' 'Action' 'Adventure' 'Mystery' 'Slice of Life'
 'Fantasy' 'Romance' 'Ecchi' 'Military' 'School' 'Magic' 'Cars' 'Music'
 'Horror' 'Historical' 'Game' 'Sports' 'Psychological' 'Kids' 'Dementia'
 'Josei' 'Harem' 'Space' '' 'Thriller' 'Demons' 'Supernatural' 'Mecha'
 'Parody' 'Super Power' 'Shounen' 'Hentai' 'Vampire' 'Yaoi' 'Shounen Ai'
 'Police' 'Martial Arts' 'Shoujo' 'Seinen' 'Samurai']