In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("animes.csv")

In [21]:
columnas = {
    "score":"Puntaje",
    "ranked":"Rango",
    'uid':"Id",
    'title':"Titulo",
    'synopsis':"Sinopsis",
    'genre':"Genero",
    'aired':"Transmitido",
    'episodes':"Episodios",
    'members':"Miembros",
    'popularity':"Popularidad"
}
df.rename(columns=columnas, inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19311 entries, 0 to 19310
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           19311 non-null  int64
 1   Titulo       19311 non-null  object
 2   Sinopsis     18336 non-null  object
 3   Genero       19311 non-null  object
 4   Transmitido  19311 non-null  object
 5   Episodios    18605 non-null  float64
 6   Miembros     19311 non-null  int64
 7   Popularidad  19311 non-null  int64
 8   Rango        16099 non-null  float64
 9   Puntaje      18732 non-null  float64
 10  img_url      19131 non-null  object
 11  link         19311 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 1.8+ MB

In [5]:
df.drop(columns=["img_url","link"], inplace=True)

In [26]:
df["img_url"][0]

'https://cdn.myanimelist.net/images/anime/9/76662.jpg'

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
def convertir_con_comillas(cadena):
    elementos = cadena.replace("'", "").strip("[]").split(",")
    return elementos

df['aux_gen'] = df['Genero'].apply(convertir_con_comillas)
df['Primer_genero'] =df['aux_gen'].apply(lambda x: x[0])

In [9]:
df.drop(columns=["Genero"], inplace=True)

In [10]:
df["Transmitido"] = df["Transmitido"].apply(lambda x: x.replace("to",",").split(','))
#df["inicio_emision"] = df["aired"].apply(lambda x: x[])

In [11]:
df.head()

,Id,Titulo,Sinopsis,Transmitido,Episodios,Miembros,Popularidad,Rango,Puntaje,aux_gen,Primer_genero
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"[Oct 4, 2015 , Mar 27, 2016]",25.0,489888,141,25.0,8.82,"[Comedy, Sports, Drama, School, Shounen]",Comedy
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"[Oct 10, 2014 , Mar 20, 2015]",22.0,995473,28,24.0,8.83,"[Drama, Music, Romance, School, Shounen]",Drama
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"[Jul 7, 2017 , Sep 29, 2017]",13.0,581663,98,23.0,8.83,"[Sci-Fi, Adventure, Mystery, Drama, Fantasy]",Sci-Fi
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","[Apr 5, 2009 , Jul 4, 2010]",64.0,1615084,4,1.0,9.23,"[Action, Military, Adventure, Comedy, Dram...",Action
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"[Jan 6, 2017]",1.0,214621,502,22.0,8.83,"[Action, Mystery, Supernatural, Vampire]",Action

In [12]:
df[["Titulo","Puntaje"]].sort_values(by="Puntaje", ascending = False, ignore_index=True).head(10)

                                      Titulo  Puntaje
0           Fullmetal Alchemist: Brotherhood     9.23
1                                Steins;Gate     9.11
2                     Hunter x Hunter (2011)     9.11
3                             Kimi no Na wa.     9.09
4  Quiz de Manabu Pinocchio no Koutsuu Ansen     9.08
5         Shingeki no Kyojin Season 3 Part 2     9.07
6                                   Gintama°     9.05
7                                   Gintama'     9.04
8                       Ginga Eiyuu Densetsu     9.03
9                 3-gatsu no Lion 2nd Season     9.02

In [13]:
def top10porGenero(genero,dataf):
    df_f = dataf[dataf["Primer_genero"] == genero]
    display(df_f[["Titulo","Puntaje"]].sort_values(by="Puntaje", ascending = False, ignore_index=True).head(10))

In [14]:
top10porGenero("Romance",df)

                                              Titulo  Puntaje
0                                     Kimi no Na wa.     9.09
1                                     Bakemonogatari     8.35
2                               ReLIFE: Kanketsu-hen     8.29
3                                     Tsuki ga Kirei     8.27
4  Rurouni Kenshin: Meiji Kenkaku Romantan - Seis...     8.05
5                                Yagate Kimi ni Naru     8.01
6                  Sekaiichi Hatsukoi: Valentine-hen     8.01
7                                         Baby Steps     7.91
8                        Karakai Jouzu no Takagi-san     7.88
9                                Asagao to Kase-san.     7.86

In [15]:
df["ranked"].nunique()

KeyError: 'ranked'

In [ ]:
df[["Titulo","Puntaje"]].sort_values(by="Puntaje", ascending = False, ignore_index=True).head(10)

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df["score"].nunique()

In [ ]:
df.sort_values?

In [ ]:
df["Titulo"].duplicated().sum()

In [ ]:
len(df["Titulo"])

In [18]:
print(df["Primer_genero"].unique())

['Comedy' 'Drama' 'Sci-Fi' 'Action' 'Adventure' 'Mystery' 'Slice of Life'
 'Fantasy' 'Romance' 'Ecchi' 'Military' 'School' 'Magic' 'Cars' 'Music'
 'Horror' 'Historical' 'Game' 'Sports' 'Psychological' 'Kids' 'Dementia'
 'Josei' 'Harem' 'Space' '' 'Thriller' 'Demons' 'Supernatural' 'Mecha'
 'Parody' 'Super Power' 'Shounen' 'Hentai' 'Vampire' 'Yaoi' 'Shounen Ai'
 'Police' 'Martial Arts' 'Shoujo' 'Seinen' 'Samurai']

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_colwidth', None)

df = pd.read_csv("Data/Empleos.csv")
df = df[["Age", "Sex", "Occupation", "Industry Group", "Year", "Workforce", "Worked Hours Week", "Monthly Wage"]]


df.groupby("Occupation")["Industry Group"].count().sort_values(ascending=False).reset_index().head()

,Occupation,Industry Group
0,Barrenderos y Trabajadores de Limpieza (Excepto en Hoteles y Restaurantes),20780
1,Trabajadores de Apoyo en Actividades Administrativas Diversas,17641
2,"Empleados de Ventas, Despachadores y Dependientes en Comercios",12938
3,Vigilantes y Guardias en Establecimientos,12807
4,Comerciantes en Establecimientos,12419

In [22]:
df.groupby("Occupation").agg({"Monthly Wage":'mean'}).sort_values(by = "Monthly Wage", ascending=False).reset_index().head()

,Occupation,Monthly Wage
0,Legisladores,47226.251263
1,Altas Autoridades Gubernamentales y Jurisdiccionales,39027.455030
2,Directores y Gerentes en Centros de Investigación y Desarrollo Tecnológico,28909.313720
3,"Directores y Gerentes en Producción Minera, Petrolera y Gas",27236.807765
4,Investigadores y Especialistas en Física,21160.760214

In [23]:
df.groupby("Occupation").agg({"Worked Hours Week":'mean'}).sort_values(by = "Worked Hours Week", ascending=False).reset_index().head()

,Occupation,Worked Hours Week
0,"Capitanes, Tenientes y Jefes de Área de las Fuerzas Armadas",67.629284
1,Comandantes de las Fuerzas Armadas,65.782091
2,"Caucheros, Chicleros, Resineros y Similares",63.857143
3,Trabajadores de la Fuerza Armada Terrestre,63.460494
4,Oficiales Maquinistas de Transporte Marítimo,63.312682

In [26]:
df[df["Occupation"] == "Secretarias"].groupby("Sex").agg({"Monthly Wage": 'mean'}).reset_index().rename(columns={"Monthly Wage": "Salario Mensual", "Sex": "Sexo"})

     Sexo  Salario Mensual
0  Hombre      7771.022060
1   Mujer      5073.123162

In [36]:
df["Años agrupados"] = pd.cut(df['Age'], bins=range(15, 105, 5), right=False)
df.groupby(["Year", "Años agrupados"], observed=False).agg({"Worked Hours Week": 'mean'}).reset_index().rename(columns={"Worked Hours Week": "Chamba Semanal"})

     Year Años agrupados  Chamba Semanal
0    2010       [15, 20)       35.977046
1    2010       [20, 25)       41.825487
2    2010       [25, 30)       43.907907
3    2010       [30, 35)       43.716615
4    2010       [35, 40)       44.066802
5    2010       [40, 45)       43.929478
6    2010       [45, 50)       42.939781
7    2010       [50, 55)       41.317002
8    2010       [55, 60)       40.493755
9    2010       [60, 65)       39.426161
10   2010       [65, 70)       36.789669
11   2010       [70, 75)       33.123070
12   2010       [75, 80)       32.037910
13   2010       [80, 85)       33.661266
14   2010       [85, 90)       30.877409
15   2010       [90, 95)       29.500000
16   2010      [95, 100)       43.296192
17   2011       [15, 20)       35.766414
18   2011       [20, 25)       42.399701
19   2011       [25, 30)       44.422531
20   2011       [30, 35)       43.877716
21   2011       [35, 40)       44.067362
22   2011       [40, 45)       42.799437
23   2011       [45, 50)       42.777765
24   2011       [50, 55)       41.711496
25   2011       [55, 60)       40.399644
26   2011       [60, 65)       38.522704
27   2011       [65, 70)       36.432179
28   2011       [70, 75)       34.434534
29   2011       [75, 80)       29.926957
30   2011       [80, 85)       25.536939
31   2011       [85, 90)       38.386768
32   2011       [90, 95)       24.500000
33   2011      [95, 100)       47.697637
34   2012       [15, 20)       35.774522
35   2012       [20, 25)       42.276762
36   2012       [25, 30)       43.518160
37   2012       [30, 35)       43.628128
38   2012       [35, 40)       43.791721
39   2012       [40, 45)       43.512145
40   2012       [45, 50)       42.740100
41   2012       [50, 55)       42.081834
42   2012       [55, 60)       41.079005
43   2012       [60, 65)       39.472069
44   2012       [65, 70)       37.398449
45   2012       [70, 75)       36.437812
46   2012       [75, 80)       34.262109
47   2012       [80, 85)       36.897694
48   2012       [85, 90)       30.875722
49   2012       [90, 95)       29.138294
50   2012      [95, 100)       46.321290
51   2013       [15, 20)       35.289351
52   2013       [20, 25)       41.688876
53   2013       [25, 30)       43.871343
54   2013       [30, 35)       43.801546
55   2013       [35, 40)       43.328328
56   2013       [40, 45)       42.911820
57   2013       [45, 50)       42.469713
58   2013       [50, 55)       41.730260
59   2013       [55, 60)       41.118992
60   2013       [60, 65)       39.908552
61   2013       [65, 70)       37.344064
62   2013       [70, 75)       36.317221
63   2013       [75, 80)       33.563478
64   2013       [80, 85)       35.243950
65   2013       [85, 90)       34.001048
66   2013       [90, 95)       33.163241
67   2013      [95, 100)       45.973175
68   2014       [15, 20)       36.186271
69   2014       [20, 25)       41.663756
70   2014       [25, 30)       43.733570
71   2014       [30, 35)       43.715109
72   2014       [35, 40)       43.318967
73   2014       [40, 45)       43.193551
74   2014       [45, 50)       42.617614
75   2014       [50, 55)       41.867978
76   2014       [55, 60)       40.992219
77   2014       [60, 65)       39.376421
78   2014       [65, 70)       37.729927
79   2014       [70, 75)       36.085846
80   2014       [75, 80)       34.319850
81   2014       [80, 85)       33.460815
82   2014       [85, 90)       32.411999
83   2014       [90, 95)       36.502744
84   2014      [95, 100)       42.712465
85   2015       [15, 20)       35.827430
86   2015       [20, 25)       41.833862
87   2015       [25, 30)       43.482165
88   2015       [30, 35)       43.654406
89   2015       [35, 40)       43.191861
90   2015       [40, 45)       43.096197
91   2015       [45, 50)       42.614729
92   2015       [50, 55)       41.958369
93   2015       [55, 60)       41.293821
94   2015       [60, 65)       39.640864
95   2015       [65, 70)       37.899711
96   2015       [70, 75)       35.898552
97   2015       [75, 80)       35.887505
98   2015       [80, 85)       33.835961
99   2015       [85, 90)       29.256472
100  2015       [90, 95)       41.031273
101  2015      [95, 100)       46.004370
102  2016       [15, 20)       35.099814
103  2016       [20, 25)       42.016173
104  2016       [25, 30)       43.649170
105  2016       [30, 35)       43.610566
106  2016       [35, 40)       43.464668
107  2016       [40, 45)       43.407671
108  2016       [45, 50)       42.544923
109  2016       [50, 55)       41.969436
110  2016       [55, 60)       41.619599
111  2016       [60, 65)       39.386645
112  2016       [65, 70)       37.287198
113  2016       [70, 75)       36.305951
114  2016       [75, 80)       35.435632
115  2016       [80, 85)       32.454145
116  2016       [85, 90)       35.613919
117  2016       [90, 95)       38.568682
118  2016      [95, 100)       42.522189
119  2017       [15, 20)       35.924478
120  2017       [20, 25)       41.590592
121  2017       [25, 30)       43.567142
122  2017       [30, 35)       43.365855
123  2017       [35, 40)       43.367800
124  2017       [40, 45)       43.534887
125  2017       [45, 50)       42.809718
126  2017       [50, 55)       41.809533
127  2017       [55, 60)       41.363295
128  2017       [60, 65)       39.743701
129  2017       [65, 70)       38.426420
130  2017       [70, 75)       35.398639
131  2017       [75, 80)       35.905407
132  2017       [80, 85)       31.338582
133  2017       [85, 90)       35.019586
134  2017       [90, 95)       35.745053
135  2017      [95, 100)       44.097944
136  2018       [15, 20)       36.070016
137  2018       [20, 25)       41.616892
138  2018       [25, 30)       43.494942
139  2018       [30, 35)       43.553936
140  2018       [35, 40)       43.339335
141  2018       [40, 45)       43.058343
142  2018       [45, 50)       43.036869
143  2018       [50, 55)       42.071509
144  2018       [55, 60)       41.438556
145  2018       [60, 65)       39.690129
146  2018       [65, 70)       37.526398
147  2018       [70, 75)       35.944307
148  2018       [75, 80)       34.130341
149  2018       [80, 85)       34.659298
150  2018       [85, 90)       33.770653
151  2018       [90, 95)       28.725762
152  2018      [95, 100)       42.691597
153  2019       [15, 20)       35.271497
154  2019       [20, 25)       41.172221
155  2019       [25, 30)       43.108917
156  2019       [30, 35)       43.349083
157  2019       [35, 40)       42.980987
158  2019       [40, 45)       42.722564
159  2019       [45, 50)       42.674503
160  2019       [50, 55)       41.795386
161  2019       [55, 60)       40.868287
162  2019       [60, 65)       39.806600
163  2019       [65, 70)       37.290050
164  2019       [70, 75)       35.242128
165  2019       [75, 80)       35.402298
166  2019       [80, 85)       31.595861
167  2019       [85, 90)       31.690323
168  2019       [90, 95)       28.705951
169  2019      [95, 100)       43.509595
170  2020       [15, 20)       35.762301
171  2020       [20, 25)       41.252601
172  2020       [25, 30)       42.386242
173  2020       [30, 35)       42.517315
174  2020       [35, 40)       41.932685
175  2020       [40, 45)       41.781652
176  2020       [45, 50)       41.370179
177  2020       [50, 55)       40.302036
178  2020       [55, 60)       39.141244
179  2020       [60, 65)       37.182842
180  2020       [65, 70)       36.754990
181  2020       [70, 75)       34.012513
182  2020       [75, 80)       33.134375
183  2020       [80, 85)       32.284270
184  2020       [85, 90)       32.448141
185  2020       [90, 95)       41.675842
186  2020      [95, 100)       43.055495
187  2021       [15, 20)       36.357812
188  2021       [20, 25)       41.509757
189  2021       [25, 30)       43.073528
190  2021       [30, 35)       42.986811
191  2021       [35, 40)       42.621793
192  2021       [40, 45)       42.919965
193  2021       [45, 50)       42.170101
194  2021       [50, 55)       40.999986
195  2021       [55, 60)       40.413528
196  2021       [60, 65)       38.210966
197  2021       [65, 70)       36.390239
198  2021       [70, 75)       34.193014
199  2021       [75, 80)       34.413146
200  2021       [80, 85)       32.155177
201  2021       [85, 90)       31.729730
202  2021       [90, 95)       30.229368
203  2021      [95, 100)       47.089888
204  2022       [15, 20)       36.820645
205  2022       [20, 25)       41.627869
206  2022       [25, 30)       43.416528
207  2022       [30, 35)       43.510691
208  2022       [35, 40)       43.309614
209  2022       [40, 45)       43.163073
210  2022       [45, 50)       42.577308
211  2022       [50, 55)       42.118312
212  2022       [55, 60)       41.091402
213  2022       [60, 65)       39.255663
214  2022       [65, 70)       37.116015
215  2022       [70, 75)       34.094122
216  2022       [75, 80)       34.303623
217  2022       [80, 85)       30.200321
218  2022       [85, 90)       31.050623
219  2022       [90, 95)       33.596169
220  2022      [95, 100)       44.570745
221  2023       [15, 20)       35.607969
222  2023       [20, 25)       41.537521
223  2023       [25, 30)       43.148144
224  2023       [30, 35)       43.676181
225  2023       [35, 40)       43.070389
226  2023       [40, 45)       42.799627
227  2023       [45, 50)       42.519270
228  2023       [50, 55)       41.727396
229  2023       [55, 60)       40.670434
230  2023       [60, 65)       38.620895
231  2023       [65, 70)       36.459306
232  2023       [70, 75)       34.315071
233  2023       [75, 80)       31.618653
234  2023       [80, 85)       32.090513
235  2023       [85, 90)       31.438215
236  2023       [90, 95)       30.555005
237  2023      [95, 100)       41.317219